.card {
    display: flex;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
    width: 250px;
    height: 250px;
    max-width: 250px;
    max-height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
}


.comment {
    display: none;
}

