* { box-sizing: border-box; }


.header {
    margin: 0;
    overflow: hidden;
    background-color: #2A9D8F;
    padding: 0px 10px;
    align-items: center;
    display: flex;
}

.header p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 108px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header img {
    width: 400px;
    height: 385px;
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
}
    
.header a:hover {
    background-color: green;
    color: black;
}
    
.header a.active {
    background-color: dodgerblue;
    color: green;
}
    
.header-right {
    float: right;
}
    
@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    
    .header-right {
        float: none;
    }
}