* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-decoration: none;
    flex-grow: 1;
    flex-direction: column;
    padding: 1rem;

    background-color: #2A9D8F;
  }

  .btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 1rem 0;
    border-bottom: 1px solid #138D7E;
    width: 100%;
  }

  .btn {
    border: none;
    background: none;
    color:#cccccc;
    font-size: 18px;
  }

  .btn-icon {
    color: #cccccc;
    font-size: 24px;
  }

  .description-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #138D7E;
    width: 100%;
    flex-grow: 1;
    flex-direction: column;
    color: #cccccc;
  }

  .description-container > *{
    margin: 10px;
  }

  .description {
    text-align: justify;
    width: 70%;
  }

  .text-github {
    color: #264653;
    text-decoration: none;
  }

  .link-github {
    text-decoration: none;
    color: #264653;
  }

  .project-name {
    color: #cccccc;
    padding: 1rem 0 0 0;
  }